$general_light: #fefefe;
$general_dark: #00000f;

$background_light: #ffffff;
$background_dark: #232526;
$box-shadow_dark: rgba(0, 0, 0, 0.3);
$box-shadow_light: rgba(255, 255, 255, 0.3);

$nav_light: #d3cce3;
$nav_dark: #414345;

$input_light: #e9e4f0;
$input_dark: #434343;
