@import "../../styles/colors.scss";

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $background;
  box-shadow: 0 4px 2px -2px $box-shadow;

  img {
    height: 75px;
    cursor: pointer;
  }

  ul {
    width: 25%;
    a,
    a:visited {
      margin-left: 5%;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    a:hover {
      color: $button-color;
    }
  }

  div {
    height: 100%;
    button {
      margin: 10px 0 10px 50px;
      height: 40px;
      width: 65px;
      cursor: pointer;
    }
    .Login {
      background-color: $button-color;
    }
    .SignUp {
      background-color: $button-color2;
    }
  }

  input {
    margin-top: 20px;
  }
}
