.About {
  text-align: center;
  height: 100%;
  width: 100%;
  animation: fade 1s ease-in;
  padding-bottom: 10%;
  h1 {
    padding-top: 5%;
  }
  p {
    font-size: 1.5rem;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 1.5%;
      a {
        text-decoration: none;
        font-size: 2rem;
      }
      a:hover {
        border-top: 1px solid;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
