.Intro {
  background-image: url("../../assets//intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  animation: fade 1s ease-in;
  h1 {
    margin: 0;
    padding-top: 10%;
  }
  button {
    padding: 10px;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    width: 15%;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .Intro button {
    padding: 10px 0 0 0;
    width: 25%;
  }
}

@media (max-width: 800px) {
    .Intro button {
      padding: 10px 0 0 0px;
      width: 25%;
    }
  }


@media (max-width: 550px) {
  .Intro button {
    width: 50%;
  }
}

@media (max-width: 400px) {
  button {
    width: 65%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
