.Movie {
  img {
    height: 85%;
    width: 100%;
  }
  div {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-left: 5%;
    }
    button {
      margin-right: 5%;
    }
  }
}
