@import "../../styles//colors.scss";

.ReactModal__Body--open,
.ReactModal__Html--open {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.Movie {
  display: flex;
  flex-direction: row;
  // width: 100%;
  text-align: center;
  .ImageContainer {
    margin: 0 auto;
    height: 100%;
    width: 50%;
    img {
      height: 32.5rem;
      margin-top: 2.5%;
      border-radius: 2.5rem;
    }
  }

  .MovieInfo {
    height: inherit;
    .Genres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
  }
}

.Light {
  color: black;
}

.Dark {
  color: white;
}

.BackButton {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: transparent;
}

.DarkButton {
  box-shadow: $box-shadow_light;
  background-color: $input_dark;
  color: $general_light;
}

@media screen and (min-width: 1300px) {
  .Movie {
    .ImageContainer {
      h2 {
        font-size: 2.5rem;
      }
      img {
        height: 40rem;
        margin: 2.5% 0 0 0%;
      }
    }
  }

  .MovieInfo {
    font-size: 1.5rem;
  }
  .BackButton {
    padding: 25px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1299px) {
  .Movie {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .ImageContainer {
      img {
        height: 500px;
        margin: 2.5% 0 0 0%;
      }
    }
  }
}

@media screen and (min-width: 599px) and (max-width: 899px) {
  .Movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ImageContainer {
      height: 100%;
      width: 100%;
      img {
        height: 25rem;
        width: 75%;
        margin: 2.5% 0 0 0%;
      }
    }
  }
}

@media screen and (min-width: 99px) and (max-width: 598px) {
  .Movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ImageContainer {
      height: 100%;
      width: 95%;
      img {
        height: 20rem;
        width: 100%;
        margin: 2.5% 0 0 0%;
      }
    }
  }
}
