.Movie {
  animation: fade 1s ease-in;

  img {
    height: 85%;
    width: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s ease-in-out;
  }
  img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    box-shadow: 4px 4px #888888;
  }

  div {
    display: flex;
    justify-content: space-between;

    h3 {
      margin-left: 5%;
    }
    button {
      margin-right: 5%;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
