@import "./styles/colors.scss";

.App {
  min-height: 100vh;
}

.Light {
  background-color: $background_light;
  color: $general_dark;
  transition: 0.5s;
  input {
    background-color: $input_light;
    color: $general_dark;
    box-shadow: $box-shadow_dark;
  }
  ::placeholder {
    color: black;
  }

  button {
    background-color: $input_light;
    color: $general_dark;
    border: 1px solid $box-shadow_dark;
  }
  button:hover {
    background-color: #d3cce3;
    transition: 0.5s;
  }
  a,
  a:visited {
    color: $general_dark;
  }
}

.Dark {
  background-color: $background_dark;
  color: $general_light;
  transition: 0.5s;
  input {
    background-color: $input_dark;
    color: $general_light;
    box-shadow: $box-shadow_light;
  }
  ::placeholder {
    color: white;
  }
  button {
    background-color: $input_dark;
    color: $general_light;
    border: 1px solid $box-shadow_light;
  }
  button:hover {
    background-color: #302b63;
    transition: 0.5s;
  }
  a,
  a:visited {
    color: $general_light;
  }
}
